@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
    font-family: "Pretendard", sans-serif;
    color: #fff;
}

p {
    word-break: keep-all;
}

a {
    text-decoration: none;
    /* color: #fff; */
}

button {
    border: 0;
    background-color: transparent;
}

li {
    list-style: none;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-thumb {
    background-color: #fff;
}

.hidden {
    display: none;
}

body {
    background-color: black;
    margin: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    /* background: gray; */
}

.container *::-webkit-scrollbar {
    width: 2px;
}

header {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #000000;
    box-sizing: border-box;
    z-index: 2;
}

header h1 {
    font-size: 16px;
}

header h1 a {
    color: #ddd;
    font-weight: 600;
}

header nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header nav .menu-btn {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 25px;
    margin-right: 24px;
}

.bar {
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin: 4px 0;
}

header nav ul {
    display: flex;
    gap: 48px;
}

header nav ul li {
    font-size: 20px;
    font-weight: 600;
}

header nav ul li a {
    color: #aaa;
}

header nav ul li a.on {
    color: #ed3124;
}

.banner_wrap {
    width: 100%;
    height: 140px;
}

.flex {
    display: flex;
    width: 100%;
    height: 100%;
}

.flex .bg {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(img/movie3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bg .dark {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6) linear-gradient(to bottom, transparent 0%, black 100%);
}

.movie_card {
    cursor: pointer;
}

.movie_card .img_wrap {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.movie_card .img_wrap img {
    width: 240px;
    height: 342px;
    transform: scale(1);
    transition: transform 0.3s;
}
.movie_card h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.movie_card h5 {
    margin-top: 10px;
    font-weight: normal;
    color: #aaa;
}

.movie_info {
    width: 100%;
    height: 106px;
    background-color: rgba(0, 0, 0, 0.92);
    box-sizing: border-box;
    transition: all 0.2s;
    overflow: hidden;
}
.movie_info:hover {
    overflow-y: scroll;
}
.movie_info p {
    font-weight: 200;
    line-height: 28px;
}

.movie_card:hover .movie_info {
    display: block;
}

.movie_info .release_date {
    font-size: 14px;
    color: #999;
}
.movie_info .release_date span {
    color: #999;
}

.movie_info .running_time {
    font-size: 14px;
}

.movie_info > ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}

.movie_info > ul > li {
    font-weight: 500;
}

.movie_info > ul > li > p {
    font-size: 12px;
}

.movie_info > button {
    width: 100%;
    height: 32px;
    margin-top: 24px;
    font-size: 16px;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

main {
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
}
.search_bar {
    position: relative;
    width: 644px;
    height: 40px;
    margin: 0 auto;
    padding-top: 200px;
    border-bottom: 2px solid #ffffff;
    transition: border 0.2s;
}

.search_bar input {
    width: calc(100% - 52px);
    height: 40px;
    padding-bottom: 18px;
    font-size: 20px;
    background-color: transparent;
    outline: none;
    border: none;
    box-sizing: border-box;
}
.search_bar input:focus {
    /* border-color: #ed3124; */
}

.search_bar .underline {
    position: absolute;
    bottom: -2px;
    left: 0;
    /* transform: translateX(-50%); */
    height: 2px;
    width: 0;
    background-color: #ed3124;
    transition: 0.5s;
}

.search_bar input:focus + .underline {
    width: 100%;
}

.search_bar .btn_search {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 14px;
    cursor: pointer;
}

.all_movies {
    max-width: 1280px;
    width: 100%;
    margin: 100px auto;
}

.all_movies h3 {
    margin-bottom: 40px;
    font-size: 24px;
}

.all_movies > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    min-height: 500px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.all_movies > ul > li {
    position: relative;
    /* width: 240px; */
    /* height: 342px; */
    flex-basis: 240px;
    /* flex-grow: 1; */
}

.all_movies > ul > li .movie_card {
    width: 100%;
}

.recommended_movies {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px 0;
}

.recommended_movies h3 {
    margin-bottom: 40px;
    font-size: 24px;
}

.recommended_movies > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.recommended_movies > ul > li {
    position: relative;
    flex-basis: 240px;
}

.recommended_movies > ul > li .movie_card {
    width: 100%;
}

footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
}

footer p {
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
}
#scrollToTop {
    position: fixed;
    width: 56px;
    height: 56px;
    bottom: 32px;
    right: 32px;
    padding: 10px;
    border-radius: 28px;
    background-color: #ed3124;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s;
}

@media (max-width: 1320px) {
    /* … */
    main {
        width: 100%;
    }
    .all_movies h3 {
        text-align: center;
    }
    .recommended_movies h3 {
        text-align: center;
    }
}

@media (max-width: 768px) {
    header nav {
        left: unset;
        right: 40px;
        transform: translate(0, -50%);
    }
    header nav ul li {
        font-size: 18px;
    }

    .search_bar {
        width: 80%;
    }
}

@media (max-width: 480px) {
    header {
        padding: 20px;
    }
    header h1 {
        font-size: 14px;
    }
    header nav {
        right: 20px;
    }
    header nav ul {
        gap: 25px;
    }
    header nav ul li {
        font-size: 16px;
    }
    .search_bar input {
        font-size: 18px;
    }
}

@media (max-width: 320px) {
    header {
        padding: 10px;
    }
    header nav {
        right: 10px;
    }
    header nav ul {
        gap: 15px;
    }
    .search_bar input {
        font-size: 16px;
    }
}
